@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my climbing site!!</h1>
</div>

<div>
    <h3>What is climbing?</h3>
    <p>Climbing is a physically and mentally demanding sport that involves ascending natural 
        or artificial structures using strength, technique, and endurance. It comes in various forms, 
        including rock climbing, bouldering, sport climbing, and mountaineering, each requiring different 
        skills and equipment. Climbers rely on grip strength, balance, and problem-solving abilities to navigate 
        routes, often using ropes, harnesses, or protective gear for safety. The sport challenges both body and mind, 
        promoting fitness, resilience, and strategic thinking while offering the thrill of conquering heights and exploring 
        new terrains.</p>

    <img src="climber.jpeg" height="400" id="climber"/> <img src="climbgear.jpeg" height="400" id="climbgear"/>
    
    <h3>Why I love climbing!</h3>
    <p>I love climbing because it’s the perfect blend of challenge and adventure. 
        Every climb pushes me to my limits, both physically and mentally, making it an 
        incredible workout that keeps me coming back for more. The thrill of reaching the top, 
        the excitement of tackling a difficult route, and the sense of accomplishment I feel afterward 
        are unmatched. Plus, it’s a social activity—I’ve made so many amazing friends who share the same passion. 
        Whether it’s the fun of solving a tricky problem or the sheer joy of being outdoors, climbing always leaves 
        me feeling energized and fulfilled.</p>

    <img src="pedras.jpeg" height="400" id="pedras"/>
</div>